.black-banner-top{
   height: 30px;
   background-color: black;
   margin: 0 auto;
}

header{
   font-family: Helvetica, sans-serif;
}

body{
   overflow-y: scroll;
   overflow-x: hidden;
   font-family: Arial, Helvetica, sans-serif;
}

form li{
   list-style: none;
   margin: 1rem;
}

form img.img-small{
   height: .5rem;

}

li img{
   height: 1rem;
}

form img{
   margin-left: 1rem;
   margin-top: 1rem;
   height: 1.5rem;
}


section.jumbotron{
   height: 100vh;
   background-image: url(../img/jumbo-bg.png);
   background-size: cover;
   background-position: center;
}

section.second-jumbotron{
   background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
   background-size: cover;
   background-position: center;
}

div.jumbo-content{
   margin-left: 1rem;
   color: white;
}

footer{

}



.my_card{
   height: 100px;
   width: 200px;
}

.my_card_{
   height: 150px;
   width: 150px;
}


.my_card_ img{
   width: 100%;
}

.my_card-cube{
   height: 150px;
   width: 150px;
}

.nuove-uscite{
   color: white;
   background-color: #1f1f1f;
}

.my_card-cube img{
   width: 100%;
   border-radius: 2rem;
}

.left-img-text{
   height: 40vh;
}

.img-play{
   height: 40vh;
}



.playstation-plus{
   height: 50vh;
   background-color: lightgray;
}

.playstation-now{
   background-color: #161c3b;
   color: white;
}

.img-display{
   height: 50vh;
}

.cube-test{
   height: 300px;
   width: 300px;
   background-color: blue;
}

.social-test{
   height: 150px;
   width: 150px;
   background-color: rgb(14, 111, 197);
}

.blue-footer-wrapper{
   background-color: #00439c;
   color: white;
}

.blue-footer-wrapper ul{
   list-style: none;
}



.img-logo-ps-test{
   height: 80px;
   width: 80px;
   margin: 1rem;
}

.img-sony-logo img{
   height: 15px;
   margin-left: 94.5rem;
}

.img-returnal img{
   height: 70px;
}


.img-ttl{
   height: 70px;
   margin-bottom: 3rem;

}

.img-ttl img{
   height: 120px;
}

.my_card img{
   height: 100%;
   width: 100%;
}

.content-jumbo-space{
   margin-top: 40rem;
}

.console-playstation img{
   height: 100%;
   width: 70%;
}


.playstation-plus img{
   height: 20%;
}

.img-display img{
   height: 100%;
}

.big-cube img{
   height: 100%;
}

.playstation-now img{
   height: 15%;
}

.img-display-now{
   height: 50vh;
}

.img-display-now img{
   height: 100%;
}

.social-test img{
   height: 100%;
}

.img-logo-ps-test img{
   margin: 1rem;
   height: 100%;
}

/* Media query */


@media screen and (max-width: 768px)  {

   .img-display-now{
      display: none;
   }

   .img-display{
      display: none;
   }
   
}